*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 4.5px solid rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    color: white;
    background-color: brown;
}

button:hover{
    background-color: rgb(245, 113, 5);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: rgb(184, 18, 18);}

header{
    background-color: rgb(184, 18, 18);
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .container{
    justify-content: space-between;
}


header a{
    color: #fff;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
}
nav  a{
    font-weight: 100;
    padding-right: 30px;
}


#descubre{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Imagenes/Descubre.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#descubre h1{
    color: white;
}

#descubre button{
    font-size: 1.75em;
}

#somos{
    color: none;
}


#somos .container{
    text-align: center;
    padding: 50px 22px;
}

#nuestro{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;    
}

#nuestro .container {
    padding: 100px 0px;
}
#nuestro .titulo{
    min-height: 50px;
}

#nuestro h2{
    margin-top: 0;
    font-size: 3em;
}

#nuestro p{
    display: none;
}

#nuestro .carta{
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Imagenes/Descubre.png");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Imagenes/perro.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Imagenes/gato2.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#inscribete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#inscribete h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

.footer{
    background-color: rgb(184, 18, 18);
    color: #fff;
    padding: 20px;  

}

footer .container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer li {
  margin-left: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 780px){
    #header{
        position: fixed;
        width: 100%;
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;  
    }   

    #header a{
        color: #fff;
        text-decoration: none;
    }

    header .container{
        justify-content: space-between;
    }

    #header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #header .logo{
        display: flex;
        align-items: center;
    }
    #header .logo img{
        height: 70px;
    }
    #header .nav  a{
        font-weight: 600;
        padding-right: 30px;
    }

    #somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        text-align: initial;
        max-width: 600px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #somos h2{
        margin-top: 0px;
    }

    #somos .img-container{
        background-image: url("Imagenes/Descubre.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px
    }

    #nuestro .cartas{
        display: flex;
        justify-content: center;
    }

    #nuestro p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestro h3{
        margin-top: 0;
    }

    #nuestro .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50, 50, 50, 0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #nuestro .titulo{
        min-height: 7vw;
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("Imagenes/Descubre.png");
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("Imagenes/perro.jpg");
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("Imagenes/gato2.jpg");
    }

    #caracteristicas{
        background-image: url(Imagenes/perro1.jpg);
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 700px) 120px ;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #inscribete h2{
        font-size: 3em;
    }

    #inscribete button{
        font-size: 2em;
    } 
}

@media (min-with: 1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}